
<style>

.grid-wrap {
	text-align: left;
	margin: auto;
}

.grid {
	/*width: 1000px;*/
	margin: auto;
	/*height: 400px;*/
	font-size: 0;
}

.grid-item {
	position: relative;
	display: inline-block;
	/*height: 265px;*/
	/*margin: 5px;*/
	/*background-size: 30%;*/
	overflow: hidden;
}

.grid-item .inner-wrap {
	transition-duration: 1.5s;
	background-size: fit;
	/*transition: background-size 2s ease-in;
	-moz-transition: background-size 2s ease-in;
	-ms-transition: background-size 2s ease-in;
	-o-transition: background-size 2s ease-in;
	-webkit-transition: background-size 2s ease-in;*/
}

.grid-item img {
	/*height: 265px;*/
	width: 487px;
	display: block;
}

.grid-item:hover .inner-wrap {
	/*transform: scale(1.1, 1.1);*/
}

.grid-item .inner-wrap a {
	width: 100%;
	height: 100%;
}

.block1 {
	/*width: 370px;*/
}

.block1 .inner-wrap {
	width: 100%;
	height: 100%;
	/*background: url('/img/index1.jpg') no-repeat center center;*/
	text-align: right;
}

.block2 {
	/*width: 255px;*/
}

.block2 .inner-wrap {
	width: 100%;
	height: 100%;
	/*background: url('/img/index2.jpg') no-repeat center center;*/
	text-align: right;
}

.block3 {
	/*width: 345px;*/
}

.block3 .inner-wrap {
	width: 100%;
	height: 100%;
	/*background: url('/img/index3.jpg') no-repeat center center;*/
	text-align: right;
}

.block4 {
	/*width: 255px;*/
}

.block4 .inner-wrap {
	width: 100%;
	height: 100%;
	/*background: url('/img/index4.jpg') no-repeat center center;*/
	text-align: right;
}

.block5 {
	/*width: 345px;*/
}

.block5 .inner-wrap {
	width: 100%;
	height: 100%;
	/*background: url('/img/index5.jpg') no-repeat center center;*/
	text-align: right;
}

.block6 {
	/*width: 370px;*/
}

.block6 .inner-wrap {
	width: 100%;
	height: 100%;
	/*background: url('/img/index6.jpg') no-repeat center center;*/
	text-align: right;
}
	
.grid-item img {
	/*max-height: 200px;*/
}

</style>

<script>
// $(document).ready(function() {

// 	let grid = $('.grid').isotope({
// 		itemSelector: '.grid-item',
// 		// gutter: 0,
// 		layoutMode: 'fitRows',
// 		masonryHorizontal: {
// 		  	rowHeight: 300
// 		}
// 	});

// 	// grid.imagesLoaded().done(function(a, el) {
// 	// 	grid.isotope('layout');
// 	// })

// 	grid.imagesLoaded().progress(function(a, el) {

// 		grid.isotope('layout');

// 		el.img.style.opacity = 1;
// 		// scope.$apply(function() {
// 		// 	scope.showGallery = true;
// 		// })
// 	});

// })

</script>
<section class="grid-wrap">
	
<section class="grid">
	<figure class="grid-item block1">
		<a href="/gallery/paintings">
			<figure class="inner-wrap">
				<img src="/img/index1.png" />
			</figure>
		</a>
	</figure>
	<figure class="grid-item block2">
		<a href="/gallery/handmade">
			<figure class="inner-wrap">
				<img src="/img/index2.png" />
			</figure>
		</a>
	</figure>
	<figure class="grid-item block3">
		<a href="/gallery/prints">
			<figure class="inner-wrap">
				<img src="/img/index3.png" />
			</figure>
		</a>
	</figure>
	<figure class="grid-item block4">
		<a href="/gallery/trinkets">
			<figure class="inner-wrap">
				<img src="/img/index4.png" />
			</figure>
		</a>
	</figure>
	<figure class="grid-item block5">
		<a href="/gallery/illustrations">
			<figure class="inner-wrap">
				<img src="/img/index5.png" />
			</figure>
		</a>
	</figure>
	<figure class="grid-item block6">
		<a href="/gallery/events">
			<figure class="inner-wrap">
				<img src="/img/index6.png" />
			</figure>
		</a>
	</figure>
</section>

</section>