<script src="/js/dropzone.js"></script>
<script src="/js/angular.js"></script>
<link type="text/css" rel="stylesheet" href="/css/dropzone.css">

<form dropzone="" class="dropzone"></form>


<script>
	
var config = {
    url: location.href,
    paramName: "file",
    parallelUploads: 5,
    autoProcessQueue: true
};

var dropzone = new Dropzone("form.dropzone", config);

</script>