<style>

.grid {
	text-align: center;
	/*height: 600px;*/
	margin-left: 10px;
	transition-duration: 2s;
}

.grid-item {
	display: block;
	margin-bottom: 8px;
}
	
.grid-item img {
	opacity: 0;
	width: 200px;
	height: auto;
	transition-duration: 1s;
}

.tag {
	display: inline;
}

.tag label {
	padding: 5px;
	color: #fff;
	font-family: tahoma;
	font-weight: 100;
	margin: 0;
}

.tag label:hover {
	text-decoration: underline;
	cursor: pointer;
}

.tag.checked label {
	background: rgba(0, 0, 0, 0.7);
	text-decoration: underline;
}

.tag.inactive label {
	opacity: 0.3;
	text-decoration: none;
}

.tag input {
	display: none;
}

.tagBlock-wrap {
	position: fixed;
	width: 100%;
	transition-duration: 0.7s;
	z-index: 100;
	top: 100%;
	margin-top: -30px;
}

.tagBlock-button {
	display: block;
	margin: auto;
	width: 60px;
	height: 30px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 100px 100px 0 0;
	bottom: 0;
	cursor: pointer;
}

.tagBlock-content {
	padding: 20px;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	text-align: center;
}

.tagBlock-wrap:hover {
}

</style>

<script>
	
angular.module('gallery', []).controller('GalleryController', function($scope) {

	$scope.images = <?= json_encode($images, JSON_NUMERIC_CHECK); ?>;
	for (let i in $scope.images) { $scope.images[i]['show'] = true; };

	$scope.tags = <?= json_encode($tags, JSON_NUMERIC_CHECK); ?>;
	for (let i in $scope.tags) { 
		$scope.tags[i]['checked'] = false;
		$scope.tags[i]['active'] = true;
	};
	$scope.showAllImages = true;


	$scope.filterImages = function(tag) {

		if (!tag.active) { return; }

		if ($('.tag input:checked').length == 0) {
			$scope.showAllImages = true;

			for (let t in $scope.tags) {
				$scope.tags[t].active = true;
			}

			$scope.grid.isotope({
				filter: '*'
			});

			return;
		} else {

			let usedTags = [];

			$scope.grid.isotope({
				filter: function(i, e) {
					let imageTags = JSON.parse(e.getAttribute('data-tags'));
					let activeTags = [];

					for (let t in $scope.tags) {
						if ($scope.tags[t].checked) {
							activeTags.push($scope.tags[t]);
						}
					}

					if (imageTags.length == 0) { return false; }

					for (let t in activeTags) {
						let tag = activeTags[t];

						if ([].slice.call(imageTags).map(function(i) { return i.id; }).indexOf(tag.id) == -1) {
							return false;
						};

					}

					for (let i in imageTags) {
						usedTags.push(imageTags[i].id);
					}

					return true;
				}
			});

			for (let t in $scope.tags) {
				let tag = $scope.tags[t];
				tag.active = true;

				if (usedTags.indexOf(tag.id) == -1) {
					tag.active = false;
				}
			}

		};


	}

	$scope.getCaption = function(id) {

		let str = "";

		for (let i in $scope.images) {
			let image = $scope.images[i];

			if (image.id == id) {

				if (image.name) {
					str += "<section class='name'><strong>" + image.name + "</strong></section>";
				}

				if (image.description) {
					str += "<section class='description'>" + image.description + "</section>";
				}

				if (image.tags.length != 0) {
					str += "<section class='tags'>";

					for (let t in image.tags) {
						str += '#' + image.tags[t].name + '  ';
					}

					str += "</section>";
				}

			}
		}

		return str;
	}

})

angular.module('gallery').directive('layout', function() {
	return {
		link: function(scope, element, attrs) {

			angular.element(document).ready(function() {

				scope.grid = $('.grid').isotope({
					itemSelector: '.grid-item',
					layoutMode: 'masonry',
					masonry: {
						columnWidth: 50,
						gutter: 2,
					}
				});

				scope.grid.imagesLoaded().progress(function(a, el) {

					scope.grid.isotope('layout');
					el.img.style.opacity = 1;
	
				});

			})

		}
	}
});

angular.module('gallery').directive('fancybox', function() {
	return {
		link: function(scope, element, attrs) {

			angular.element(document).ready(function() {

				scope.fb = $('[fancybox]').fancybox({
					
					margin : [100, 100],

					onInit: function() {
						$button = $('<button data-fancybox-close-caption class="fancybox-button fancybox-button--close-caption" title="Hide caption"></button>');

						$button.click(function() {
							$('.fancybox-container').toggleClass('fancybox-show-caption');
						});

						$button.appendTo( $('.fancybox-buttons') );
					}

				});

			})

		}
	}
});

angular.module('gallery').directive('tagblock', function() {
	return {
		link: function(scope, element, attrs) {

			angular.element(document).ready(function() {

				let h = element.closest('.tagBlock-wrap').height();

				element.hover(function() {
					$(this).css({
						marginTop: -h + 'px'
					})
				}, function() {
					$(this).css({
						marginTop: '-30px'
					})
				});

			})

		}
	}
});

</script>

<section ng-app="gallery" ng-controller="GalleryController" ng-cloak>

	<?php foreach ($allTags as $tag) : ?>
		<?php if (in_array($tag, $selectedTags)) : ?>
			<a class="tag selected" href="/tags/<?= implode(',', array_filter($selectedTags, function($i) { return $i == $tag; }))?>"><?= $tag; ?></a>
		<?php else : ?>
			<a class="tag not-selected" href="/tags/<?= implode(',', array_merge($selectedTags, [$tag]))?>"><?= $tag; ?></a>
		<?php endif; ?>
	<?php endforeach; ?>	

<?php if (count($images) > 0) : ?>

	<div class="grid" layout>

		<div class="grid-item" ng-repeat="image in images" ng-class="{ hidden: !image.show && !showAllImages }" data-tags="{{image.tags}}">
			<a href="/img/upload/{{image.orig}}" fancybox data-caption="{{getCaption(image.id)}}" data-title="Title">
				<img width="{{image.preview_width}}" height="{{image.preview_height}}" ng-src="/img/upload/{{image.preview}}">
			</a>
		</div>

	</div>

<?php endif; ?>

	<!-- <section class="tagBlock-wrap" tagblock>
		<section class="tagBlock-button"></section>
		<section class="tagBlock-content">
			<span ng-repeat="tag in tags" class="tag" ng-class="{ checked: tag.checked, inactive: !tag.active }">
				<label>
					#{{tag.name}}
					<input type="checkbox" ng-model="tag.checked" ng-disabled="!tag.active" ng-click="filterImages(tag)">
				</label>
			</span>
		</section>
	</section> -->

</section>