<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 '. $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                        ->prependStylesheet($this->basePath() . '/css/jquery.fancybox.css') ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/js/jquery.fancybox.js')
            ->prependFile($this->basePath() . '/js/imagesloaded.pkgd.min.js')
            ->prependFile($this->basePath() . '/js/masonry-horizontal.js')
            ->prependFile($this->basePath() . '/js/isotope.pkgd.min.js')
            ->prependFile($this->basePath() . '/js/dropzone.js')
            ->prependFile($this->basePath() . '/js/angular.js')
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/masonry.min.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')
            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

        <script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>

        <script type="text/javascript">
            var button = VK.Share.button({
              url: 'http://nina-ezhik.ru',
              title: 'Nina Ezhik\' place',
              description: 'Nina Ezhik\' place',
              image: 'http://nina-ezhik.ru/img/logo.png',
              noparse: true
            });
        </script>

        <style>

            @font-face {
                font-family: 'DendaNewLightC';
                src: url('/fonts/DendaNewLightC.eot');
                src: url('/fonts/DendaNewLightC.eot?#iefix') format('embedded-opentype'),
                    url('/fonts/DendaNewLightC.woff') format('woff'),
                    url('/fonts/DendaNewLightC.ttf') format('truetype');
                font-weight: 300;
                font-style: normal;
            }

            @font-face {
                font-family: 'Monly Lite';
                src: local('Monly Lite Light'), local('MonlyLite-Light'), url('/fonts/Monlylitelight.woff2') format('woff2'), url('/fonts/Monlylitelight.woff') format('woff'), url('/fonts/Monlylitelight.ttf') format('truetype');
                font-weight: 300;
                font-style: normal;
            }
            @font-face {
                font-family: 'Monly Lite';
                src: local('Monly Lite Bold'), url('/fonts/MonlyLite-Bold'), url('/fonts/Monlylitebold.woff2') format('woff2'), url('/fonts/Monlylitebold.woff') format('woff'), url('/fonts/Monlylitebold.ttf') format('truetype');
                font-weight: 700;
                font-style: normal;
            }


            @font-face {
              font-family: 'Monly Bold';
              src: url('/fonts/monly-free-bold.eot'); /* IE9 Compat Modes */
              src: url('/fonts/monly-free-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                   url('/fonts/monly-free-bold.woff2') format('woff2'), /* Super Modern Browsers */
                   url('/fonts/monly-free-bold.woff') format('woff'), /* Pretty Modern Browsers */
                   url('/fonts/monly-free-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
                   url('/fonts/monly-free-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
            }

            @font-face {
              font-family: 'Monly Light';
              src: url('/fonts/monly-free-light.eot'); /* IE9 Compat Modes */
              src: url('/fonts/monly-free-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                   url('/fonts/monly-free-light.woff2') format('woff2'), /* Super Modern Browsers */
                   url('/fonts/monly-free-light.woff') format('woff'), /* Pretty Modern Browsers */
                   url('/fonts/monly-free-light.ttf')  format('truetype'), /* Safari, Android, iOS */
                   url('/fonts/monly-free-light.svg#svgFontName') format('svg'); /* Legacy iOS */
            }

            @font-face {
              font-family: 'Monly Serif Bold';
              src: url('/fonts/monly-free-bold.eot'); /* IE9 Compat Modes */
              src: url('/fonts/monly-free-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                   url('/fonts/monly-free-bold.woff2') format('woff2'), /* Super Modern Browsers */
                   url('/fonts/monly-free-bold.woff') format('woff'), /* Pretty Modern Browsers */
                   url('/fonts/monly-free-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
                   url('/fonts/monly-free-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
            }

            @font-face {
              font-family: 'Monly Serif Light';
              src: url('/fonts/monly-free-light.eot'); /* IE9 Compat Modes */
              src: url('/fonts/monly-free-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                   url('/fonts/monly-free-light.woff2') format('woff2'), /* Super Modern Browsers */
                   url('/fonts/monly-free-light.woff') format('woff'), /* Pretty Modern Browsers */
                   url('/fonts/monly-free-light.ttf')  format('truetype'), /* Safari, Android, iOS */
                   url('/fonts/monly-free-light.svg#svgFontName') format('svg'); /* Legacy iOS */
            }

            @font-face {
                font-family: 'PH 400 Caps';
                src: url('/fonts/PH-400RegularCaps_1.eot');
                src: url('/fonts/PH-400RegularCaps_1.eot?#iefix') format('embedded-opentype'),
                    url('/fonts/PH-400RegularCaps_1.woff') format('woff'),
                    url('/fonts/PH-400RegularCaps_1.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }

            html {
                height: 100%;
                position: relative;
            }

            html,body {
                background: #fff;
                width: 1506px;
                margin: auto;
                min-height: 100%;
            }

            .logo {
                float: right;
                margin: 5px 30px;
                width: 343px;
                height: 125px;
                background: url(/img/logo.png) center center no-repeat;
                background-size: contain;
            }

            .menu {
                padding-top: 39px;
                text-align: left;
                background: url('/img/menu_underline.png') no-repeat bottom left;
            }

            .menu nav {
                display: inline-block;
                margin: 10px auto 8px;
            }

            .menu ul {
                list-style: none;
                padding: 0;
            }

            .menu ul.top_menu>li {
                float: left;
                margin: 0 2px;
                text-align: center;
            }

            .menu ul li a.inner {
                padding: 10px 10px;
                text-decoration: none;
                color: #000;
                border-radius: 100px;
                transition-duration: 0.3s;
                font-size: 16px;
            }

            /*.menu ul li a.inner:hover {
                text-decoration: underline;
                background: rgba(0, 0, 0, 0.1);
            }*/

            .menu ul.submenu {
                display: none;
                position: absolute;
                padding-left: 10px;
                z-index: 100;
                height: 0px;
                transition-duration: 3.3s;
                overflow: hidden;
            }

            .menu ul.submenu li {
                text-align: left;
                display: block;
            }

            .menu ul.submenu li a {
                text-decoration: none;
                color: #000;
                font-size: 16px;
            }

            .menu ul li.expandable>div {
                margin-top: -10px;
                padding: 10px 10px;
                color: #000;
                border-radius: 100px;
                transition-duration: 0.3s;
                font-size: 16px;
            }

            /*.menu ul li.expandable:hover>div {
                background: rgba(0, 0, 0, 0.1);
            }*/

            .menu ul li.expandable:hover ul.submenu {
                display: block;
                height: auto;
            }

            .menu a.outer.vk {
                display: block;
                height: 25px;
                width: 25px;
                background: url('/img/vk.png') center center no-repeat;
                background-size: contain;
            }

            .menu a.outer.fb {
                display: block;
                height: 25px;
                width: 25px;
                background: url('/img/fb.png') center center no-repeat;
                background-size: contain;
            }

            .content {
                text-align: center;
                margin-left: 16px;
                margin-top: 4px;
            }



            .top-level-menu .second-level-menu
            {
                position: absolute;
                top: 40px;
                left: 0;
                width: 293px;
                list-style: none;
                padding-top: 51px;
                margin: 0 0 0 -1px;
                background: rgba(255, 255, 255, 0.56);
                display: none;
            }

            .second-level-menu > li > a {

            }

            .second-level-menu > li > a {
                color: #000;
                font-family: 'PH 400 Caps';
                font-size: 25px;
                margin: -10px 24px 18.7px 29px;
                font-weight: bold;
                letter-spacing: 2.5px;
                border-bottom: 1px solid #000;
                display: block;
                width: 234px;
                padding: 0 0 10px;
            }

            .second-level-menu > li > a:hover {
                text-decoration: none;
            }

            .second-level-menu > li:last-child > a {
                border: none;
            }

            .second-level-menu > li
            {
                text-align: right;
                position: relative;
                /*background: rgba(255, 255, 255, 0.56);*/
                /*padding: 7px;*/
            }
            /*.second-level-menu > li:hover { background: rgba(0, 0, 0, 0.7); }*/

            .top-level-menu
            {
                list-style: none;
                padding: 0;
                margin: 0;
                z-index: 100;
                position: relative;
                text-align: center;
            }

            .top-level-menu > li
            {
                position: relative;
                float: left;
                font-family: 'Monly Lite';
                border-right: 1px solid #000;
            }

            .top-level-menu > li:last-child
            {
                position: relative;
                float: left;
                font-family: 'Monly Lite';
                border-right: 1px solid #000;
            }

            .top-level-menu>li:first-child {
                padding: 0 99px 0 47px;
            }

            .top-level-menu>li:nth-child(2) {
                padding: 0 98px 0 95px;
            }

            .top-level-menu>li:last-child {
                padding: 0 93px;
                border: none;
            }

            .top-level-menu > li.outer
            {
                position: relative;
                float: left;
                width: auto;
                background: none;
                padding: 2px;
            }

            /*.top-level-menu > li:hover { background: rgba(0, 0, 0, 0.1); }*/

            .top-level-menu li:hover > ul
            {
                /* On hover, display the next level's menu */
                display: inline;
            }


            /* Menu Link Styles */

            .top-level-menu li.outer:hover {
                background: none;
            }  
            .top-level-menu > li > a /* Apply to all links inside the multi-level menu */
            {
                color: #000;
                font-size: 49px;
                text-decoration: none;
                /*padding: 0 47px;*/

                /* Make the link cover the entire list item-container */
                display: block;
                line-height: 30px;
                height: 35px;
            }

            footer {
                position: absolute;
                bottom: 0;
                width: 1506px;
            }

            .footer-stub {
                height: 137px;
            }

            .social {
                position: absolute;
                left: 18px;
                bottom: 76px;
                overflow: hidden;
            }

            .social_button {
                float: left;
                margin-right: 17px;
            }

            .tags {
                transition-duration: 0.3s;
                position: absolute;
                width: 500px;
                right: 26px;
                bottom: 10px;
            }

            .taglist {
                display: none;
            }

            .showTags {
                font-family: 'DendaNewLightC';
                text-transform: uppercase;
                font-size: 23px;
                font-weight: bold;
                letter-spacing: 2.5px;
                text-align: right;
                cursor: pointer;
            }

            .tags .tag {
                text-decoration: none;
                font-family: 'Myriad Pro';
                color: #000;
                font-size: 18px;
                margin: 0 0 4px 10px;
                float: right;
            }


        </style>

    </head>
    <body>

        <header>

            <a href="/"><section class="logo"></section></a>

            <section class="menu">
                <nav>
                    <ul class="top-level-menu">
                        <li><a href="/">Главная</a></li>
                        <li>
                            <a href="#">Изделия</a>
                            <ul class="second-level-menu">
                                <li><a href="/gallery/paintings">Картины</a></li>
                                <li><a href="/gallery/handmade">Хендмейд</a></li>
                                <li><a href="/gallery/prints">Печатная продукция</a></li>
                                <li><a href="/gallery/trinkets">Бижутерия</a></li>
                                <li><a href="/gallery/illustrations">Иллюстрации</a></li>
                                <li><a href="/gallery/events">Выставки и события</a></li>
                            </ul>
                        </li>
                        <li><a href="/about">Контакты</a></li>

                        <!-- <li class="outer"><a class="outer vk" href=""></a></li>
                        <li class="outer"><a class="outer fb" href=""></a></li> -->
                    </ul>
                </nav>
            </section>

        </header>

        <br clear="both" />

        <section class="content">

            <?php echo $this->content; ?>

        </section>

        <section class="footer-stub"></section>

        <footer>

            <section class="social">
                <figure class="social_button fb">
                    <a href="">
                        <img src="/img/fb.png">
                    </a>
                </figure>
                <figure class="social_button vk">
                    <a href="">
                        <img src="/img/vk.png">
                    </a>
                </figure>
                <figure class="social_button pin">
                    <a href="">
                        <img src="/img/pin.png">
                    </a>
                </figure>
                <figure class="social_button tw">
                    <a href="">
                        <img src="/img/tw.png">
                    </a>
                </figure>
            </section>

            <section class="tags">
                <p class="showTags">Показать тeги</p>

                <section class="taglist">
                    <?php foreach ($tags as $tag) : ?>
                        <a class="tag" href="/tags/<?= $tag['name']; ?>">#<?= $tag['name']; ?></a>
                    <?php endforeach; ?>
                </section>
            </section>
            
        </footer>

        <script>


        // $(document).ready(function() {

            let h = $('.tagBlock-wrap').height();
            let show = false;

            $('.tags .showTags').click(function() {

                // console.log(123);

                if (show) {

                    show = false;

                    $('.taglist').slideToggle(200);

                    // $(this).closest('.taglist').css({
                    //     marginTop: -h + 'px'
                    // })

                } else {

                    show = true;

                    $('.taglist').slideToggle(200);

                    // $(this).closest('.taglist').css({
                    //     marginTop: '-30px'
                    // })

                }
            });

        // })

        </script>

    </body>
</html>
