<style>
table {
	border-collapse: collapse;
}

table th {
	text-align: center;
}

table td {
	padding: 5px 20px;
}

tr:nth-child(even) td {
	background: #eee;
}

.approved,.approved * {
	background: #ccffcc;
}
</style>

<div class="row">
	<?php echo $this->flashMessenger()->render('error', array('alert', 'alert-danger')); ?>
	<?php echo $this->flashMessenger()->render('success', array('alert', 'alert-success')); ?>
</div>

<?php if (count($galleries) > 0) : ?>

<div class="col-md-4">

<table>
	
<thead>
	<tr>
		<th>ID</th>
		<th>Название</th>
		<th>Код</th>
		<th>Описание</th>
	</tr>
</thead>
	<?php foreach ($galleries as $gallery) : ?>
		<tr>
			<td>
				<?= $gallery['id'] ?>
			</td>
			<td>
				<a href="<?= $this->url('admin/gallery', ['id' => $gallery['id']]);?>"><?= $gallery['name'] ?></a>
			</td>
			<td>
				<?= $gallery['code'] ?>
			</td>
			<td>
				<?= $gallery['description'] ?>
			</td>
			<td>
				<a href="<?= $this->url('admin/update', ['id' => $gallery['id']]);?>">Редактировать</a>
			</td>
			<td>
				<a href="<?= $this->url('admin/delete', ['id' => $gallery['id']]);?>">Удалить</a>
			</td>
		</tr>
	<?php endforeach; ?>
</table>

<?php else : ?>

	<center>
		<strong>-- Нет галерей --</strong>
	</center>
<?php endif; ?>

<br />
<a class="btn btn-success pull-right" href="<?= $this->url('admin/create'); ?>">Создать новую</a>

</div>