<form class="form-inline" method="POST" id="auth_form">

<label class="sr-only" for="inlineFormInputGroup">Password</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password" name="password">
  </div>

  <input type="submit" class="btn btn-primary" id="authSubmit" value="Submit">
</form>