<script src="/js/angular.js"></script>

<script>
angular.module('tags', []).controller('TagContoller', function($scope, $http, $httpParamSerializer, $filter) {

	$scope.tags = <?= json_encode($tags, JSON_NUMERIC_CHECK); ?>;

	$scope.addTag = function() {

		let name = $scope.newTagName;

		$http({
			method: 'POST',
   			url: location.href + "/add",
   			data: $httpParamSerializer({name: $scope.newTagName}),
   			headers: {
   				'Content-Type': 'application/x-www-form-urlencoded'
   			}
       	}).then(function(response) {

       		if (response.data.success) {

	   			$scope.tags.push({
	   				id: response.data.id,
	   				name: name
	   			});

	   			$scope.newTagName = '';

	   		}

       	});
	}

	$scope.deleteTag = function(id) {

		if (confirm("Вы уверены?"))
		{

			$http({
				method: 'POST',
	   			url: location.href + "/delete/" + id
	       	}).then(function(response) {

	       		if (response.data.success) {

		   			$scope.tags = $scope.tags.filter(function (i) { return i.id != id; });

	   			}

	       	});

       }
	}

})
</script>

<div ng-app="tags" class="col-md-8">
	<div ng-controller="TagContoller">
		<div class="tags">
			<div ng-repeat="tag in tags" id="{{tag.id}}" class="btn-group btn-group-lg">
				<div class="btn btn-default">{{tag.name}} <span ng-click="deleteTag(tag.id)" class="label label-danger">Удалить</span></div>
			</div>
		</div>

		<form class="form-inline" method="POST">

		  <h3>Добавить тэг</h3>

		  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Название тэга" ng-model="newTagName">
		  </div>

		  <input type="submit" ng-click="addTag()" value="OK" class="btn btn-primary">
		</form>
	</div>
</div>